* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

body {
  color: #222;
  background-color: #f8f9ff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.logo {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 34px;
  color: #4e47ff;
}

.btn-signup {
  padding: 10px 20px;
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 6px;
  height: 48px;
  width: 174px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.hero {
  height: 700px;
  text-align: center;
  padding: 0px 20px;
  background-image: url("/images/Hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container h1 {
  font-size: 65px;
  margin-bottom: 60px;
}

.btn-primary {
  padding: 12px 24px;
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 6px;
  height: 48px;
  width: 174px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.preview {
  padding: 60px 20px;
}

.preview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.preview-text {
  flex: 1;
}

.preview-text h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.preview-text p {
  font-size: 24px;
  margin-bottom: 30px;
  color: #666;
}

.btn-secondary {
  padding: 10px 20px;
  background-color: #4e47ff;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}

.preview-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
}

.stats {
  background-color: #eef0ff;
  padding: 60px 20px;
  text-align: center;
  margin: 0px auto;
  width: 1140px;
  border-radius: 20px;
}

.stats-container h3 {
  font-size: 38px;
  margin-bottom: 30px;
}

.stats-grid {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.stat span {
  font-family: "Inter", sans-serif;
  display: block;
  font-size: 80px;
  color: #4e47ff;
  font-weight: 800;
}

.stat p {
  font-size: 16px;
  margin-top: 5px;
  color: #444;
}

.testimonials {
  padding: 60px 20px;
}

.testimonials h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 42px;
}

.testimonial-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  flex: 1 1 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.stars {
  color: gold;
  font-size: 18px;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 15px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.focus {
  background-color: #ffffff;
  padding: 60px 20px;
  text-align: center;
}

.focus-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.focus-container p {
  margin-bottom: 20px;
  color: #555;
}

.focus-container img {
  margin-top: 30px;
  width: 100%;
  max-width: 840px;
  border-radius: 16px;
  border: 2px red solid;
}

.contact {
  background-color: #f1f4ff;
  padding: 60px 20px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-text {
  flex: 1;
  min-width: 250px;
}

.contact-text h2 {
  font-size: 92px;
  font-weight: 800;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.contact-form label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.btn-large {
  padding: 12px 24px;
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 6px;
  height: 48px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.footer {
  background-color: #ffffff;
  padding: 60px 20px;
  text-align: center;
}

.footer-logo {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 100px;
  color: #4e47ff;
  letter-spacing: 5px;
}

.footer-container p {
  max-width: 600px;
  margin: 0 auto 20px;
  color: #8987a1;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-links a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
}

.btn-primary:hover {
  scale: 0.9;
  background-color: yellowgreen;
  transition: 0.2s ease-in-out;
  color: #222;
}

.btn-secondary:hover {
  scale: 0.9;
  background-color: yellowgreen;
  transition: 0.2s ease-in-out;
  color: #222;
}

.btn-large:hover {
  scale: 0.9;
  background-color: yellowgreen;
  transition: 0.2s ease-in-out;
  color: #222;
}

.btn-signup:hover {
  scale: 0.9;
  background-color: yellowgreen;
  transition: 0.2s ease-in-out;
  color: #222;
}
